<widget id="A6004592205468" version="0.0.1">
    <name>聚合视频</name>
    <description>
        聚合视频，全网VIP免费观看
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">devilyouwei</author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="pageBounce" value="false"/>
    <preference name="appBackground" value="rgba(255,255,255,1)"/>
    <preference name="windowBackground" value="rgba(255,255,255,1)"/>
    <preference name="frameBackgroundColor" value="rgba(255,255,255,1)"/>
    <preference name="autoLaunch" value="false"/>
    <preference name="fullScreen" value="false"/>
    <preference name="autoUpdate" value="false"/>
    <preference name="smartUpdate" value="false"/>
    <preference name="debug" value="false"/>
    <preference name="appCertificateVerify" value="false"/>
    <preference name="checkSslTrusted" value="false"/>
    <preference name="statusBarAppearance" value="true"/>
    <preference name="backgroundMode" value=""/>
    <permission name="readPhoneState"/>
    <permission name="camera"/>
    <permission name="fileSystem"/>
    <permission name="record"/>
    <permission name="location"/>
    <permission name="internet"/>
    <permission name="bootCompleted"/>
    <permission name="hardware"/>
    <preference name="urlScheme" value="jhtvapp"/>
    <preference name="querySchemes" value="mqq,mqqapi"/>
    <preference name="forbiddenSchemes" value="*"/>

    <feature name="QQPlus">
        <param name="urlScheme" value="tencent101696023"/>
        <param name="apiKey" value="101696023"/>
    </feature>
</widget>
